@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">List of Employees below</h1>
            <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Employee ID</th>
      <th scope="col">Employee Name</th>
      <th scope="col">Salary</th>      
    </tr>
  </thead>
   <tbody>
    
        @foreach(var employee in Model.Employees)
                {
                    <tr>
                    <th scope="row">@employee.EmployeeID</th>
                    <td>@employee.EmployeeName</td>
                    <td>@employee.Salary</td>
                    </tr>
                }                
    
    </tbody>
  </table>
</div>
